*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* h2 {
    color: green;
    text-align: center;
} */

/* #description{
  color: aqua;
  text-align: center;
} */

/* p {
  color: blue;
} */

/* #root {
  background-color: black;
  height: 100vh;
} */

body {
  background-color: lightblue;
}

h1{
  text-align: center;
  margin-top: 20px;
}
